
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>All Products : Aling Nena </title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <link href="/css/admin.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
         <a class="navbar-brand">Aling Nena</a>
	 <a class="navbar-brand" href="/">Home</a>
	 <a class="navbar-brand" href="#">About</a>
	 <a class="navbar-brand" href="/products">Products</a>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="jumbotron">
	<h1>The History of Aling Nena's</h1>
	<p>Aling Nena’s humble begins go all the way back to 1971; it started out as a simple sari-sari store owned by Aling Nena.</p>
	<p>Aling Nena’s initially sold simple things like some snacks, canned goods, sodas and beverages, and the like. It was a rough start 		   and business wasn’t always booming but she had her regular customers around the neighborhood. After a few months, she began adding 	   	   more variety to the items she sold which certainly helped increase sales.</p>
	<p>As the years passed, Aling Nena’s grew from its humble beginnings as a sari-sari store into a local sari-sari store franchised 		   well known for its excellent service and quality products, which now include original food items and the like.</p>
	<p>Nowadays, Aling Nena’s is still looking to expand and grow. The franchise is currently beginning to enter the online market to 		   reach more of its customers as well as the potential new market made available thanks to the internet.</p>
      </div>
    </div>
  </body>
</html>
