
<!DOCTYPE html>
<html>
	<head>
		<h1>The History of Aling Nena's</h1>
		<title>About Aling Nena's</title>	
	</head>
	<body>
		<p>Aling Nena’s humble begins go all the way back to 1971; it started out as a simple sari-sari store 
			owned by Aling Nena.</p>
		<p>Aling Nena’s initially sold simple things like some snacks, canned goods, sodas and beverages, and
			the like. It was a rough start and business wasn’t always booming but she had her regular 			
			customers around the neighborhood. After a few months, she began adding more variety to the items 	
			she sold which certainly helped increase sales.</p>
		<p>As the years passed, Aling Nena’s grew from its humble beginnings as a sari-sari store into a 	
			local sari-sari store franchised well known for its excellent service and quality products, which 
			now include original food items and the like.</p>
		<p>Nowadays, Aling Nena’s is still looking to expand and grow. The franchise is currently beginning 
			to enter the online market to reach more of its customers as well as the potential new market made 
			available thanks to the internet.</p>
	</body>
</html>
